body {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg00.deviantart.net%2F8d88%2Fi%2F2017%2F183%2F8%2Fa%2Fmhw_wallpaper_by_hokage455-dbeuw0s.png&f=1&nofb=1');
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
}